-gallery_image = ["papas.jpg","panini.jpg","hamburger.jpg","club-sandwich.jpg","hot-cakes.jpg"]
!!!5
%html{class:"no-js", lang:"es"}
    %head
        %meta{charset:"utf-8"}
        %title El blog oscuro
        %meta{name:"description",content:"Comunidad anime para postear o recomendar animes"}
        %meta{name:"viewport",content:"width=device-width,initial-scale=1"}
        %meta{:"data-name" => "image-counter",content:"#{gallery_image.size - 1}"}
        %link{href:"https://fonts.googleapis.com/css?family=Dancing+Script",rel:"stylesheet"}
        %link{rel:"stylesheet",href:"css/normalize.css"}
        %link{rel:"stylesheet",href:"css/bootstrap.css"}
        %link{rel:"stylesheet",href:"https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css"}
        %link{rel:"stylesheet",href:"css/styles.css"}
        %script{src:"js/jquery-1.12.0.min.js"}
        %script{src:"js/modernizr-2.8.3.min.js"}
    %body
        ="<!--[if lt IE 9]>"
        %p{class:"browserupgrate"}
            estas usando un navegador
            %strong desactualizado.
            porfavor
            %a{href:"http://browsehappy.com/"}
                actualiza tu navegador para una mejor experiencia 
        ="<![endif]-->"
        .video-container
            %video{autoplay:true,loop:true,poster:"videos/IMAGES/bbq.jpg"}
                %source{src:"videos/MP4/bbq.mp4"}
                %source{src:"videos/WEBM/bbq.webm"}
        .row.full-height.middle-xs.center-xs.relative.up#home
            .col-xs-12
                .box.white-text
                    %img{src:"images/logo.png",width:"200"}
                    %h1.dancing-script.title.no-margin Restaurante Facilito
                    %p#is-open
                        %i.glyphicon.glyphicon-time
                        Abierto ahora
            %nav.fixed.navigation.medium.top.right.white-text#navigation
                -menu = ["Inicio", "Menu"," Galería", "Contacto", "Como llegar"]
                %ul.list-inline
                    -menu.each do |item|
                        %li 
                            %a{}= item
            .absolute.white-text.large-padding.black.full-width#description
                .row.middle-xs.center-xs
                    .col-xs-7.col-sm-6.white-text.medium
                        Atención cálida y comida preparada por artistas
                    .col-xs.hidden#sticky-navigation
                        .box
                            %nav.text-right.navigation
                                %ul.list-inline
                                    -menu.each do |item|
                                        %li
                                            %a{}= item
        .text-center.relative.height-85#menu
            .absolute.white#menu-title
                %h2.dancing-script.title Menú
            -menu_photos = [{name:"Combo",image:"combo",princing:"15.00"},{name:"Club Sandwich",image:"club-sandwich",princing:"10.00"},{name:"Hamburger",image:"hamburger",princing:"13.00"},{name:"Hot-cakes",image:"hot-cakes",princing:"8.00"},{name:"Panini",image:"panini",princing:"12.50"},{name:"Papas",image:"papas",princing:"7.00"},{name:"Club Sandwich",image:"club-sandwich",princing:"10.00"},{name:"Hamburger",image:"hamburger",princing:"10.00"}]
            .row
            -menu_photos.each do |photo|
                .col-md-4.col-lg-3.col-sm-6.col-xs-12.food{style:"background-image:url(images/food/#{photo[:image]}-thumb.jpg)"}
                    .screen
                        .row.middle-xs.full-height
                            .col-xs-12
                                %h3.dancing-script.white-text.subtitle= photo[:name]
                                %p.no-margin.white-text= "S/." + photo[:princing]
        #gallery
            .inner
                -gallery_image.each do |image|
                    .image{style:"background-image:url(images/food/#{image});"}
        .container
            .card.white.black-text.text-center.relative
                %h3.medium.slim
                    En
                    %strong.dancing-script.medium Restaurante Facilito
                    cocinar no es una profesíon, no es una tecnica es un
                    %strong.dancing-script.medium arte
                %p.top-space El arte de desarrollar, consiste en hacer, plasmar la idea que uno tiene hacia los demas, puede ser de ayuda para muchos, tambien blogs, paginas oficiales etc.
                %strong.dancing-script.medium Developer Web - JhersonO's

        .top-space.black.white-text.full-height#contact
            .row.middle-xs.full-height
                .col-xs-12
                    .box
                        %p.text-center.medium#info-contact Presiona enter para llenar el campo correspondiente y enviarnos un correo
                        %form{action:"https://formspree.io/jherson.o.s@hotmail.com",method:"POST",id:"contacto",class:"step-form"}
                            .row.center-xs
                                .col-xs-2.col-md-1
                                    .box.text-center
                                        -3.times do |i|
                                            -if i == 0  
                                                .path-step.active
                                            -else
                                                .path-step
                                            %br
                                .col-xs-5
                                    .box
                                        %fieldset.step.active
                                            %input{type:"email",name:"email",placeholder:"Correo Electrónico",class:"input",required:"true"}
                                        %fieldset.step
                                            %input{type:"text",name:"name",placeholder:"Nombre",class:"input",required:"true"}
                                        %fieldset.step
                                            %textarea{name:"body",placeholder:"Mensaje...",class:"input",required:"true"}

        #location
            #map


        %script{src:"https://code.jquery.com/jquery-3.1.0.min.js",integrity:"sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=",crossorigin:"anonymous"}
        :javascript
            window.jQuery || console.log("<script src='js/jquery-1.12.0.min.js'><\/script>")
        %script{src:"http://maps.googleapis.com/maps/api/js?key=AIzaSyDTanm_xZQi4_RHeCAxerOqXN96NUwrbZU"}
        %script{src:"js/maps-dist.js"}
        %script{src:"js/form_objects-min.js"}
        %script{src:"js/main-min.js"}